<!DOCTYPE html>
<html lang="pt - BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="layout.css"/>
</head>
<body>
    <header>
        <h1> HEADER PARA CABEÇALHO</h1>
    </header>
    <nav>
        <h1> nav para subtítulo ou infos menores </h1>
        <p> Também permite uma vizualização de abas no navegador</p>
    </nav>
    <section>
        <p> Texto do <strong> documento </strong></p>
        <p> Usar essas tags aumenta a organização e controle do documento</p>
    </section>
    <aside>
        <h1> Aside para informações paralelas ao <strong>navegador</strong> </h1>
    </aside>
    <span> SPAN É TAG INLINE</span>
    <span> SPAN É TAG INLINE</span>
    <span> SPAN É TAG INLINE, BR PARA COLOCAR EM OUTRA LINHA</span><br>
    <span> SPAN É TAG INLINE</span><br>
    <footer>
        <P> footer é o rodapé </P>
        <article id="Infos específicas">
            <p> Article para infos específicas </p>
        </article>
    </footer>
</body>
</html>